nav {
    ul {
        list-style: none;

        a {
            text-decoration: none;
            text-transform: capitalize;
            color: #000;

            font-weight: 600;
            font-size: 18px;
            line-height: 28px;
            text-align: right;
        }
    }
}